<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{defaultLayout}">

<head>
<title>預約時間表</title>

<script th:src="@{/js/dataTables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
<!-- FullCalendar v3.8.1 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet"  />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print"></script>
<link th:href="@{/css/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet">
<link th:href="@{/css/dataTables/dataTables.responsive.css}"
	rel="stylesheet">

<script>

function toAdd() {
	$("#addStart").val($("#dataInput").val());
	$("#addTitle").val($("#eventInput").val());
	$("#addForm").submit();
}

function toDel() {
	$("#delForm").submit();
}

$(document).ready(function() {
	
	var json = $("#aaa")[0].innerText;
	var object = JSON.parse(json);
	
	$("#calendar").fullCalendar({
  		
		buttonText:{
			today: '今天',
			month: '月',
			week: '周',
			day: '日'
		},
		
        monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"], 
        monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"], 
        dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], 
        dayNamesShort: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], 
		
        titleFormat: 'YYYY年  MMMM',
        
  		header: { 
  			left: "prev,next today", 
  			center: "title", 
  			right: "month,basicWeek,basicDay" 
  		},
  		defaultDate: "2023-02-25",
  		editable: true,
  		events: object,
  	    dayClick: function(data, event, view) {
  		   	$('#dataInput').val(data.format('YYYY-MM-DD'));
  		    $('#eventFormModalTitle').text('編輯事件');  
  		    $('#eventFormModal').modal('show');
  			 
  		  },
  		  eventClick: function(data, event, view) {
  			  
  			var json = $("#aaa")[0].innerText;
  			var object = JSON.parse(json);  
  			  
  			$('#dataInput').val(object[3].start);  
  			$('#eventInput').val(object[3].title);
  		    $('#eventFormModalTitle').text('編輯事件');  
  		    $('#eventFormModal').modal('show');
  		  }
  		
  	  });
	});
</script>

</head>
<body>
	<div layout:fragment="content">
		<div class="container-flmid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">預約時間表</h1>
				</div>
			</div>
		</div>	
		<div id="calendar"></div>
		
		
		<div class="modal fade" id="eventFormModal" tabindex='-1' role = 'dialog' aria-labelledby="eventFormModal"  data-backdrop="static" >
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
		            		<span aria-hidden="true">&times;</span>
		            	</button>
		            	<h4 class="modal-title" id="eventFormModalTitle" ></h4>
		            </div>
		            <div class = "modal-body">
		            	<form id="eventForm">
		            		<div class="form-group">
		            			<label for="eventInput" class="control-label">會議名稱</label>
		            			<input type="text" class="form-control" id="eventInput" name="eventInput" />
		            		</div>
		            	    <div class="form-group">
		            			<label for="dataInput" class="control-label">會議日期</label>
		            			<input type="text" class="form-control" id="dataInput" name="dataInput" readonly="readonly" />
		            		</div>
		            	</form>
		            </div>
		            
		            <div class = "modal-footer">
		            	<button type="button" class="btn btn-primary" id="eventFormOkButton" onclick="toAdd()" >新增</button>
		            	<button type="button" class="btn btn-danger" id="eventFormDelButton" onclick="toDel()" >刪除</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<p id="aaa" style="display: none;" th:text="${reserveList}"></p>
		
		<form th:action="@{/auth/reserve/add}" id="addForm" method="post">
		    <input type="hidden" id="addStart" name="start"/>
			<input type="hidden" id="addTitle" name="title"/>
		</form>
		
		<form th:action="@{/auth/reserve/del}" id="delForm" method="post">
		   
		</form>
		
	</div>
</body>
</html>
